/* HeroesComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .spaces {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
  }
  .spaces li {
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    border-radius: 4px;
  }
  .spaces li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .spaces li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .spaces .text {
    position: relative;
    top: -3px;
  }
  .spaces .badge {
    display: inline-block;
    font-size: 36pt;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative; 
    height: 1.7em;
    border-radius: 4px 0 0 4px;
  }
  .spaces .preview {
      height:120px;     
      vertical-align: bottom; 
  }
  .full {
    font-size: 48pt;
    background: yellow;
    border-style: solid;
    border-color:black;
    
  }