<h2>Driving Direction to {{space.name}}</h2>
<div fxLayout='column' class='zero'>
  <div fxFlex="100%" [fxLayout]="direction" fxLayout.md="row">
  <div fxFlex='50%' fxFlex.gt-sm="100%">
        <canvas class="direction" id="direction"></canvas>
  </div>
  <div fxFlex='50%' fxFlex.gt-sm="100%">
        <ul class="instructions">
          <li *ngFor="let instruction of instructions">      
            <img class="icon" [src]="instruction.imageUrl" />
            <span class="instruction">{{instruction.text}}</span> 
          </li>
        </ul>
  </div>
  </div>
</div>